
.blog-title{
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}

.image-blog-container{
    box-shadow: 0px 3px 9px -5px;
}

.image-blog-container > img{
    height: 199px;
}

.text-content{
    border-top: solid #4caf50;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 822px;
    width: 100%;
    padding-top: 18px;
    position: relative;
    text-align: justify;
}

.blogs-container{
    margin-right: auto;
    margin-left: auto;
    padding-top: 27px;
    transition: 0.1s;
    background: white;
}

.blogs-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 1px 9px -5px;
    border-radius: 11px;
    transition: 0.3s;
}

.header-blog{
    display: grid;
    align-content: center;
    font-size: 2rem;    
}

.description-blog{
    display: grid;
    align-content: center;
}

.image-box{
    display: grid;
    justify-content: center;
    align-items: center;
}

.textarea-element{
    height: 250px;
}

.over-laping-blog{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 190px;
}

.over-laping-blog.title-edit{
    -webkit-line-clamp: 1;
}
.over-laping-blog.title{
    -webkit-line-clamp: 4;
}

.over-laping-blog.description{
    -webkit-line-clamp: 8;
}
