::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6fcf72;
}

::-webkit-scrollbar-thumb:hover {
  background: #4caf50
}